@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700,700i");
body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: #333132; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.navbar__custom {
  width: 100%;
  background: none;
  padding: 0 1rem; }

.navbar-collapse__custom {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #00a24c; }

.navbar-collapse__custom span {
  font-size: 17px;
  padding: 10px 10px;
  vertical-align: middle; }

.nav-item__custom {
  color: #00a24c !important;
  font-size: 17px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .nav-item__custom:hover {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .nav-item__custom:active {
    color: #8e8e92 !important; }
  .nav-item__custom:focus {
    color: #8e8e92 !important; }
  .nav-item__custom:last-child {
    padding-right: 0 !important; }

.navbar-brand {
  margin-bottom: -45px;
  margin-top: 10px;
  z-index: 1; }

.wrap-title {
  position: relative; }

.title-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 50px; }

.title {
  display: inline;
  position: relative;
  padding: 10px 20px;
  font-weight: bold; }
  .title:before {
    content: '';
    background: url(../img/corner-left.png) 100% 100% no-repeat;
    background-size: cover;
    position: absolute;
    width: 34px;
    height: 34px;
    left: -15px; }
  .title:after {
    content: '';
    background: url(../img/corner-right.png) 100% 100% no-repeat;
    background-size: cover;
    position: absolute;
    width: 34px;
    height: 34px;
    right: -15px;
    bottom: -15px; }

.carousel-content {
  width: 100%;
  height: 640px;
  background: url(../img/banner.jpg) 100% 100% no-repeat;
  background-size: cover; }
  .carousel-content_second {
    background: url(../img/banner2.jpg) 100% 100% no-repeat;
    background-size: cover; }

.down-link-wrap {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center; }

.presentation {
  padding: 100px 15px; }

.presentation__title {
  color: #00a24c;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px; }

.presentation__description {
  font-size: 24px;
  font-style: italic;
  line-height: 1.3;
  text-align: justify; }

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .items__block {
    width: 50%;
    background-image: url(../img/veranda-hover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 3s;
    transition: 3s; }
    .items__block:hover {
      background-size: cover;
      -webkit-transition: 2s;
      transition: 2s; }
    .items__block:hover .items__wrap-title {
      background-color: transparent;
      -webkit-transition: 2s;
      transition: 2s; }
    .items__block:hover .items__title {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transition: .7s;
      transition: .7s; }
    .items__block:last-child {
      background-image: url(../img/pergola-hover.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
      .items__block:last-child:hover {
        background-size: cover;
        -webkit-transition: 3s;
        transition: 3s; }
  .items__wrap-title {
    padding: 220px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 2s;
    transition: 2s; }
  .items__title {
    font-style: italic;
    font-size: 53px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 0;
    text-shadow: 16px -9px 21px rgba(0, 0, 3, 0.75);
    -moz-transform: matrix(0.83838, 0, 0, 0.84095, 0, 0);
    -webkit-transform: matrix(0.83838, 0, 0, 0.84095, 0, 0);
    -ms-transform: matrix(0.83838, 0, 0, 0.84095, 0, 0);
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    -webkit-transition: .7s;
    transition: .7s; }
    .items__title:before {
      content: '';
      background: url(../img/corner-left.png) 100% 100% no-repeat;
      background-size: cover;
      position: absolute;
      width: 28px;
      height: 28px;
      left: -30px;
      top: -10px; }
    .items__title:after {
      content: '';
      background: url(../img/corner-right.png) 100% 100% no-repeat;
      background-size: cover;
      position: absolute;
      width: 28px;
      height: 28px;
      right: -25px;
      bottom: -10px; }

.news {
  padding: 50px 0 80px 0;
  text-align: center; }
  .news__title {
    text-align: center;
    text-transform: uppercase;
    color: #00a24c;
    font-weight: 200; }
  .news__title-bold {
    font-weight: bold; }
  .news__wrap-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
  .news__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    width: 20%;
    position: relative;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    -webkit-transition: 2s;
    transition: 2s; }
    .news__item:hover .news__item-inside-wrap {
      background-color: transparent;
      -webkit-transition: 1s;
      transition: 1s;
      color: #fff; }
    .news__item:focus {
      color: #fff; }
    .news__item:nth-child(1) {
      background-image: url(../img/news_first-hover.jpg); }
    .news__item:nth-child(2) {
      background-image: url(../img/news-second-hover.jpg); }
    .news__item:nth-child(3) {
      background-image: url(../img/news-third-hover.jpg); }
    .news__item:nth-child(4) {
      background-image: url(../img/news-fourth-hover.jpg); }
    .news__item:nth-child(5) {
      background-image: url(../img/news-fifth-hover.jpg); }
  .news__item-inside-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 1s;
    transition: 1s; }
  .news__item-content {
    position: absolute;
    bottom: 15px;
    left: 10px; }
  .news__item-title {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .news__link {
    color: #00a24c;
    display: inline-block;
    margin-top: 60px;
    text-transform: uppercase;
    border: 2px solid #00a24c;
    padding: 3px 10px;
    font-size: 24px;
    -webkit-transition: .7s;
    transition: .7s; }
    .news__link:hover {
      color: #fff;
      background-color: #00a24c;
      -webkit-transition: .7s;
      transition: .7s; }

.feedback {
  padding: 80px 0 100px 0;
  background: #00a24c;
  color: #fff; }
  .feedback__wrap-slider {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto; }
  .feedback__title {
    text-transform: uppercase;
    font-weight: 200 !important;
    margin-bottom: 40px; }
  .feedback__title-bold {
    font-weight: bold; }
  .feedback__content {
    width: 80%;
    margin: 0 auto; }
  .feedback__text {
    font-size: 20px;
    font-style: italic;
    font-weight: 300; }
  .feedback__name {
    font-weight: bold;
    font-size: 20px; }

.carousel-indicators {
  bottom: -50px; }

.carousel-indicators li {
  max-width: 19px;
  height: 19px;
  background: none;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 1.2; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 44px;
  height: 66px; }

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
  top: -40px; }

.carousel-control-next-icon {
  background-image: url(../img/slider-arrow-right.png); }

.carousel-control-prev-icon {
  background-image: url(../img/slider-arrow-left.png); }

.carousel-control-next {
  right: -30px; }

.carousel-control-prev {
  left: -30px; }

.img-fluid {
  width: 100%; }

.footer {
  padding: 33px 0; }
  .footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; }
  .footer__separator {
    padding: 0 5px; }
  .footer__list-link {
    color: #333132;
    font-size: 19px; }
    .footer__list-link:hover {
      -webkit-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-transition: all .3s;
      transition: all .3s;
      color: #333132;
      display: inline-block; }
  .footer__brand {
    font-size: 16px;
    margin: 0; }

@media (max-width: 1200px) {
  .navbar-collapse__custom span {
    padding: 10px 5px; }
  .presentation__banner {
    width: 100%; }
  .carousel-control-next, .carousel-control-prev {
    width: 40px; }
  .carousel-control-next {
    right: 15px; }
  .carousel-control-prev {
    left: 15px; } }

@media (max-width: 990px) {
  .navbar-toggler-right {
    right: 0;
    top: 35px;
    z-index: 999999; }
  .navbar-collapse__custom span {
    display: none; }
  .nav-item__custom {
    text-align: center; }
  .presentation__banner {
    margin-top: 30px; }
  .items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .items__block {
      width: 100%; }
  .news__wrap-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .news__item {
    width: 33.33%; }
    .news__item:nth-child(4) {
      width: 50%; }
    .news__item:nth-child(5) {
      width: 50%; } }

@media (max-width: 700px) {
  .img-fluid {
    height: 340px; }
  .title {
    font-size: 28px; }
  .news__item {
    width: 50%; }
    .news__item:nth-child(5) {
      width: 100%; }
  .items__wrap-title {
    padding: 170px 0; }
  .footer__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media (max-width: 505px) {
  .navbar__custom {
    height: 84px; }
  .navbar-toggler-right {
    top: 23px;
    right: 15px; }
  .navbar-brand {
    margin-bottom: -23px; }
  .navbar-brand img {
    width: 40%; }
  .title {
    padding: 0;
    font-size: 22px; }
    .title:before {
      width: 15px;
      height: 15px;
      top: -4px;
      left: -15px; }
    .title:after {
      width: 15px;
      height: 15px;
      right: -15px;
      bottom: -6px; }
  .carousel-content {
    height: 450px; }
  .down-link-img {
    width: 40px; }
  .presentation {
    text-align: center;
    padding: 50px 15px; }
    .presentation__description {
      text-align: center; }
  .items__block {
    background-position: 100% 100%; }
  .footer__list-item {
    width: 48%;
    text-align: center;
    display: block; }
  .footer__separator {
    display: none; }
  .navbar-collapse__custom {
    z-index: 999999;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: .2s;
    transition: .2s; } }

@media (max-width: 380px) {
  .carousel-content {
    height: 300px; }
  .title-block {
    top: 30%; }
  .title {
    display: inline-block;
    line-height: 1.3;
    margin: 0 20px; }
    .title:before {
      left: 0; }
    .title:after {
      right: 0; }
  .presentation__title {
    font-size: 34px; }
  .presentation__description {
    font-size: 18px; }
  .items__wrap-title {
    padding: 100px 0; }
  .news__item {
    height: 200px; }
    .news__item:nth-child(4) {
      width: 100%; }
  .news__item {
    width: 100%; }
  .news__link {
    font-size: 20px; }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none; }
  .collapse.show {
    margin-top: 30px; }
  .footer__list-link {
    font-size: 16px; } }
